PRIVATE_KEY=0x_YOUR_TESTNET_PRIVATE_KEY
X_LAYER_RPC=https://testrpc.xlayer.tech
OKLINK_API_KEY=your_oklink_api_key
EXIRA_ORACLE_ADDRESS=
EXIRA_REGISTRY_ADDRESS=
EXIRA_ESCROW_ADDRESS=
EXIRA_TOKEN_ADDRESS=
